.mobile {
  .title {
    text-align: center;
  }

  .right {
    width: 48px;
  }

  .mu-appbar {
    position: fixed;
    top: 0;
  }

  .container {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 56px 0;
    overflow: auto;
  }
}