<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>请使用微信登录</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link  rel="stylesheet" type="text/css" href="/dist/styles/style.css" />
</head>
<body class="is-not-wx">
<!-- 请使用微信登录 -->
  <div class="message">
    <div class="icon weui_icon_warn"></div>
    <p>请使用微信登录</p>
  </div>
</body>
</html>